.navigation-menu {
    overflow: hidden;
    width: 100%;
    background-color: rgb(4 28 65);
    color: #fff;
    z-index: 1;
}

.navigation-menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin-left: 2.25em;
}

.navigation-menu a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-size: 1em;
    margin: 0 2em;
    transition: all 0.3s;
}

.navigation-menu a:hover, .navigation-menu a:active {
    color: #ff2671;
}

.navigation-menu .active {
    border-bottom-color: white;
    color: #ff2671;
}

.sticky {
    position: fixed;
    top: 0;
}

.fa-bars {
    font-size: 2em;
}

.topnav {
    display: none;
    overflow: hidden;
    background-color: rgb(4 28 65);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.topnav #links {
    display: none;
}

.topnav a {
    color: #ff2671;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
}

.topnav #links a {
    color: #fff;
}

/*
#menuToggle {
    display: none;
    position: fixed;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    background-color: rgb(4 28 65);
}

#menuToggle a {
    text-decoration: none;
    color: #ff2671;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #fff;
}

#menuToggle input {
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    hide this
    z-index: 2;
    and place it over the hamburger
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ff2671;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ff2671;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

Appears on the top left of the screen

#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: -100px 0 0 -50px;
    padding-top: 100px;
    padding-bottom: 30px;
    background: rgb(4 28 65);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    to stop flickering of text in safari
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 20px 0;
    margin: 0 auto;
    font-size: 15pt;
}

#menuToggle input:checked~ul {
    transform: none;
} 
*/